body{
    margin: 0;
background: #202324;
    box-sizing: border-box;
}
.table-container{
margin:0 100px 0 100px;
margin-top: 100px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 15px;
    /* border-radius: 40px; */
    border-spacing: 1;
    text-align: center;
    margin-left: auto;  
    margin-right: auto;
    display: absolute;
}
caption {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}
th {
    background: rgb(190, 111, 8);
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    margin: 0;
}
th,
td {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(255, 0, 0);

}
td {
    padding: 15px 5px 15px 0;
    background: #202324;
    color: rgb(255, 255, 255);
}
.lunch-row {
writing-mode: vertical-lr;
text-orientation: upright;
}
td:hover {
font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
font-size: 20px;

}
#eng-class:hover  {
background: rgb(126, 188, 187);
font-size: 17px;
color: black;

}
#eng-class:hover:after {
    content: 'lish';
}

#mat-class:hover {
    background: rgb(126, 188, 187);
    color: black;
    font-size: 17px;

}

#mat-class:hover:after {
    content: 'hemathic';
}
#che-class:hover {
    background: rgb(126, 188, 187);
    font-size: 17px;
    color: black;

}

#che-class:hover:after {
    content: 'mistry';
}
#phy-class:hover {
    background: rgb(126, 188, 187);
    font-size: 17px;
    color: black;

}

#phy-class:hover:after {
    content: 'sics';
}
#lab-class:hover {
    background: rgb(255, 255, 255);
    font-size: 17px;
    color: black;

}

#lab-class:hover:after {
    content: 'ORATORY';
}
#sport-class:hover {
    background: rgb(50, 185, 82);
    font-size: 17px;
    color: black;

}
